@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: red;
    color: white;
}

.header-buttons {
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
}
